<!--  -->
<!-- Footer -->
<footer class="footer">

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://mdbootstrap.com/"> {{ name | lowercase}}</a>
    </div>

    <div style="box-sizing: border-box; flex: 0 0 auto; display: flex; flex-direction: row; place-content: center space-between; align-items: center; min-width: auto;">
        <a target="_blank" href="https://www.google.com/intl/en/about/" class="link">About Google</a>
        <a target="_blank" href="https://policies.google.com/privacy" class="link">Privacy</a>
        <a target="_blank" href="https://policies.google.com/terms" class="link">Terms</a>
        <a target="_blank" href="https://support.google.com/communities/answer/9138806" class="link">Help</a>
        <a tabindex="0" class="link pointer">Send feedback</a>
    </div>
</footer>