<input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchText" >
<div class="card-group">
    <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" > -->
    <div class="card" *ngFor="let item of directories | searchfilter: searchText; index as i" >
     
      <div class="card-body">
        <h5 class="card-title">{{item.first_name}}</h5>
        <p class="card-text">{{item.email}}</p>
        <p class="card-text"><small class="text-muted">{{item.ip_address}}</small></p>
      </div>
    </div>
   
    
  </div>